<main class="gmap-container">
  <div id="map"></div>

  <div id="panel">
    <section class="right-panel">
      <!-- add zone -->
      <section class="zone-edit-add-container">
        <div class="form-section">
          <h3>Zone Add Form</h3>
          <label>Zone Name :</label>
          <input [(ngModel)]="name" />
          <label>Zone Delivery Charge :</label>
          <input type="number" [(ngModel)]="delCharge" />
          <label for="">Color of zone: </label>
          <div id="color-palette"></div>
          <button type="button" (click)="addZone(); $event.stopPropagation()">
            Add Zone
          </button>
        </div>
      </section>

      <!-- enter address check -->
      <section class="delivery-cost-check-container">
        <!-- INFO : Disabled coz Below doesnt work because of gmap billing-->
        <!-- <div *ngIf="false">
                <p>Check Delivery Charge of Address</p>
                <p>Address :</p>
                <textarea
                  name="text"
                  rows="14"
                  cols="10"
                  wrap="soft"
                  style="height: 65px; width: 210px"
                  [(ngModel)]="address"
                >
                </textarea>
                <button (click)="checkDelivery(true)">Check</button>
                <p class="delivery-message">
                  Your Delivery Charge is : {{ checkDeliveryCharge }}
                </p>
              </div> -->
        <!-- check delivery charge -->
        <div class="form-section">
          <h3>Delivery Cost of Location</h3>
          <label>Zone latitude :</label>
          <input type="number" [(ngModel)]="clickLat" />
          <label>Zone longitude :</label>
          <input type="number" [(ngModel)]="clickLng" />
          <button (click)="checkDelivery(false); $event.stopPropagation()">
            Check
          </button>
          <p class="delivery-message">
            Delivery Charge : {{ checkDeliveryCharge }}
          </p>
        </div>
      </section>

      <!-- Zone deatils -->
      <section class="zone-details">
        <h4>List of Zones :</h4>
        <h5 *ngIf="zoneObjectArray.length == 0">No zones added</h5>
        <div *ngIf="zoneObjectArray.length != 0" class="cards-container">
          <div class="card" *ngFor="let item of zoneObjectArray">
            <p>
              Name: {{ item.name }}:
              <span *ngIf="item.shape.polygon">(polygon)</span>
              <span *ngIf="item.shape.circle">(circle)</span>
            </p>
            <p>Delivery Cost: {{ item.deliveryCharge }}</p>
            <div class="card-footer">
              <button (click)="editEnable(item.name)">Edit</button>
              <button (click)="saveShape(item.name)">Save</button>
            </div>
          </div>
        </div>
      </section>

      <!-- shape action details -->
      <section class="shape-action-box">
        <h4>Shape Action</h4>
        <div>
          <button (click)="showAllShapes()">Show All Shapes</button>
          <button (click)="hideAllShapes()">Hide All Shapes</button>
        </div>
        <button id="delete-button" disabled>Delete Selected Shape</button>
      </section>
    </section>
  </div>
</main>
